---
import { SITE_TITLE, REPO_URL } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import { getAbilityScores } from "../getData";
import AbilityScore from "../components/AbilityScore.astro";

const abilityScoresJSON = await getAbilityScores();
---

<BaseLayout>
	<header>
		<h1 class="text-xl font-bold m-4 title">{SITE_TITLE}</h1>
	</header>
	{
		abilityScoresJSON.map((data) => {
			return (
				<AbilityScore
					data={data}
					index={data.index}
					desc={data.desc}
					full_name={data.full_name}
					skills={data.skills}
				/>
			);
		})
	}
	<footer class="m-8">
		<a href="https://github.com/joshmerrell/daisyui-external-api">
			<img src="/github.svg" alt={REPO_URL} class="github-icon" />
		</a>
	</footer>
</BaseLayout>
