---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import { getAbilityScores } from "../getData";
import AbilityScore from "../components/AbilityScore.astro";

const abilityScoresJSON = await getAbilityScores();
---

<BaseLayout>
	<header>
		<h1 class="text-xl font-bold m-4 title">
			Dungeons and Dragons 5th Edition
		</h1>
		<h2 class="text-lg m-4 title">List of ability scores</h2>
	</header>
	{
		abilityScoresJSON.map((data) => {
			return (
				<AbilityScore
					data={data}
					index={data.index}
					desc={data.desc}
					full_name={data.full_name}
					skills={data.skills}
				/>
			);
		})
	}
	<footer class="m-8">
		<a href="https://github.com/joshmerrell/daisyui-external-api">
			<img
				style="margin-left: auto; margin-right: auto;"
				src="/github.svg"
				alt="Github repo"
			/>
		</a>
	</footer>
</BaseLayout>
