---

const {data, index, desc, full_name, skills} = Astro.props;


const description = ((desc instanceof Array)?desc.join(" "):desc) as string;

interface Skill {
	name: string;
	index: string;
	url: string;
}

---

<fieldset class={index}>
    <legend>{full_name}</legend>
    <p class="desc">{description}</p>
    <ul class="skills">
        {skills.map((skill:Skill) => <li class={`skill-${skill.index}`}>{skill.name}</li>)}
    </ul>
</fieldset>